<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <!--<add name="linqDB" connectionString="Data Source=DESKTOP-G06U76V;initial catalog= AddressBook;Integrated Security=True" />-->
   
    <add name="contact_linq_manager.Properties.Settings.AddressBookConnectionString1"
      connectionString="Data Source=DESKTOP-G06U76V;Initial Catalog=AddressBook;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdminUserName" value="Admin"/>
    <add key="AdminPassword" value="12345"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>